
@model  LandingPageModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid header1 header2 minify-header appfamily-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Create & Process 3D Objects in Cloud via C# REST API</h1>
				<h4>Enhance your C# code with our 3D Cloud SDK to create 3D models in the cloud and transform, convert, and process 3D objects.</h4>
			</div>
			<div class="col-md-4 tc">
				<img class=" col-xs-12" src="../img/aspose_3d-for-net.png" alt="Aspose.3D Cloud" width="320" />
			</div>
		</div>
	</div>
</div>
<div class="container-fluid productfamilypage bg-white pdb-5">
	<div class="row">
		<div class="container tc">
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>
			<h3>Aspose.3D Cloud .NET APIs Includes</h3>
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_conversion-app.png" alt="Aspose.3D Cloud .NET SDK" />
					</div>
					<a href="/3d/conversion"><span class="spanclass">Aspose.3D @Model.Resources["AsposeProductFor"] Cloud<em>Conversion</em></span><em>Free Cloud App offering features to convert 3D files to Autodesk, Wavefront, 3D Studio & Draco formats.</em></a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="spacer">&nbsp;</div>
<script type="text/javascript">

            window.onload = function () {
                alert("Please set APP Key and APP SID in web.config to run Aspose.Words Cloud .NET APIs");
            };
</script> 